.section-title{
    h2{
        font-size: 35px;
        color: $red;
        font-weight: 600;
        text-transform: capitalize;
    }
    p{
        font-size: 20px;
        color: $prymary;
        text-transform: capitalize;
    }
}